/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/09/2018, 12:00:07 AM
    Author     : winbr386
*/

:root {
   --main-color: #172068;
   --bg-color: #F2F2F2;
   --form-table-color: #E5E5E5;
}

@font-face {
   font-family: Google Sans Regular;
   src: url(fonts/GoogleSans-Regular.ttf);
}

@font-face {
   font-family: Google Sans Bold;
   src: url(fonts/GoogleSans-Bold.ttf);
}

@font-face {
   font-family: Google Sans Italic;
   src: url(fonts/GoogleSans-Italic.ttf);
}

@font-face {
   font-family: CaslonTwoTwentyFour-BlackIt;
   src: url(fonts/CaslonTwoTwentyFour-BlackIt.otf);
}