
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display:400i|Lato&display=swap');

:root {
   --main-color: #172068;
   --bg-color: #F2F2F2;
   --form-table-color: #E5E5E5;
}

@font-face {
   font-family: 'Lato', sans-serif;
}

@font-face {
   font-family: 'DM Serif Display', serif;
}